<p class="bg-slate-500 text-red-800">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid
  distinctio ipsum officia soluta aliquam earum assumenda ut at dolor libero
  quidem impedit, ducimus maxime quaerat veniam sapiente error vero? Itaque
  quaerat officiis iure placeat sequi, voluptates doloremque esse. Eveniet,
  aliquam corporis numquam, voluptatibus laudantium enim ipsam facilis, quod
  reiciendis tenetur fugiat labore velit! Eaque totam ipsam laudantium inventore
  laborum! Labore vitae, esse deleniti amet vel eligendi officiis. Temporibus
  nostrum harum odio, aperiam quaerat eum repudiandae ut. Unde, assumenda? Aut
  sunt eius labore quis a hic. Officia nulla repellat eaque? Facilis sequi quos
  et aut eos odio nobis, reprehenderit dignissimos ut tempore exercitationem est
  illo perferendis harum dolore! Quibusdam odio vero omnis temporibus sed
  reprehenderit nihil aut aliquid adipisci. Fugiat. Rerum officia adipisci
  deserunt labore mollitia quae voluptate dicta quas repellat, saepe iste
  repudiandae est amet fugit voluptas explicabo, modi eligendi nostrum et
  quidem? Magnam quam dolores error obcaecati provident.
</p>
